/* body p {
    color:red;
} */
/* body > p {
    color:rgb(79, 221, 14);
} */

/* div + p {
    color:rgb(79, 221, 14);
} */
div ~ p {
    color:rgb(79, 221, 14);
}

#blue {
    color:aqua;
}
.red{
    color: red
}