/* h1, p{
    color: aqua;
    font-size: xx-large;
} */

/* Universal selector */
* {
    color: aqua;
    font-size:xx-large;
}
/* p{
    color: blue;
    font-size: large;
}
label{
    color: aquamarine;
} */
#last{
    color: red;
    background-color: blue;
}

.a{
    color: blue;
    font-style: oblique;
    background-color: brown;
    font-size: x-small;
}
body{
    background: darkgrey;
}